player-connection-mode=Listen
player-connection-guid=3485475077
player-connection-debug=0
player-connection-project-name=SummerBreakGame
player-connection-ip=192.168.0.219
player-connection-ip=26.33.38.159
gfx-enable-gfx-jobs=1
gfx-enable-native-gfx-jobs=1
wait-for-native-debugger=0
hdr-display-enabled=0
gc-max-time-slice=3
build-guid=fb5de2f6ed70456389d4f314c4d9c012
